

/*
============================================================================
Navigation Styles
============================================================================
*/
.navbar-brand img {
  width: 106px;
  margin-top: -17px;
}

/*
============================================================================
Global Styles
============================================================================
*/

/*
============================================================================
Main.html Styles
============================================================================
*/
.first-col {
	background-color: green;
}
.second-col {
	background-color: red;
}

.third-col {
	background-color: yellow;
}
.angular-google-map-container {
  height: 400px;
}
#map {
	width: 100%;
	height: 600px;
}
/*
============================================================================
Login.html Styles
============================================================================
*/

/*
============================================================================
Signup.html Styles
============================================================================
*/